/* estilos kids */
body{
  background-color: $color-fondo;
}
.kids{
    @include flex;
    justify-content:center;
    gap: 1rem;
}
 h1{
    @extend %estilosTitulos;
      
  }
#kids-border img{
    @extend %estilosPortadaKids;
   border: 3px solid gray;
  box-shadow: 12px 12px 20px blue;
}
 #girls-border{
  @extend %estilosPortadaKids;
  border: 3px solid gray;
    box-shadow: 12px 12px 10px palevioletred;
 }

 .product-kids{
  @include flex;
  flex-direction: row;
  div{
      text-align: $align;
  }  
  h2{
      font-size: $text-size-products;
      text-align: $align;
      font-weight: $text-weight;
  }
  p{
      font-size:$text-size-p;
      text-align: $align;
  }
  img{
    @extend %estilosProductos;
  }
  }
  .grid-kids{
    @extend %estilosGrid;
}

.menu-deptos{
  @extend %estilosMenuLateral;
  h1, h2, h3, h4{
@extend %estilosTitulosMLateral;
  }
ul{
      list-style: $decoration;
    }
a{
      text-decoration: $decoration;
      color: $color-texto;
    }
}