// colores principales (valor o propiedad medidas, colores y tipografias)
$color-fondo:white;
$color-fondo1:red;
$color-fondo2:blue;
$color-fondo3:yellow;
$align:center;
$color-texto:black;
$text-big:50px;
$text-size-products:20px;
$text-size-p:15px;
$text-small:10px;
$text-weight:bold;
$text-center:center;
$decoration:none;
$padding:1rem;
$margin:1rem;

    
